# requires python3
boto
boto3
ConfigParser
configobj
jinja2
names
python-swiftclient
PyYaml
s3cmd
s5cmd
simplejson
swiftly
paramiko
pandas==2.2.3
pyarrow
awscrt

# for v1
#psutil
rgwadmin

# for checks
black
isort
yamllint
tox
