-<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
    table.full-table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #050505;
        text-align: left;
        padding: 8px;
    }
    
    p { margin:0 }
    
    </style>
</head>
	
<body>
<h2><a href="https://bugzilla.redhat.com/buglist.cgi?bug_status=ON_QA&columnlist=product%2Ccomponent%2Cassigned_to%2Cbug_status%2Cresolution%2Cshort_desc%2Cchangeddate%2Creporter_realname%2Cqa_contact_realname%2Cversion%2Ctarget_milestone%2Cbug_severity%2Crh_sub_components%2Ctarget_release&f1=component&known_name=CEPH%20ON_QA%20Documentation&list_id=12126172&o1=substring&product=Red%20Hat%20Ceph%20Storage&query_based_on=CEPH%20ON_QA%20Documentation&query_format=advanced&v1=Documentation">Documentation ON_QA Bugs List</a></h2>
<table class="full-table">
	<tr>
            <th style="color: blue">Bug ID</th>
            <th style="color: blue">Description</th>
		    <th style="color: blue">Severity</th>
		    <th style="color: blue">QA Contact</th>
		    <th style="color: blue">Target Release</th>
		    <th style="color: blue">Aging (Days)</th>
		    
        </tr>
	
	   {% for doc_item in items %}
        <TR>
        
           <TD><a href="https://bugzilla.redhat.com/show_bug.cgi?id={{doc_item.bug_id}}">{{doc_item.bug_id}}</a></TD>
           <TD>{{doc_item.summary}}</TD>
           <TD>{{doc_item.severity}}</TD>
           <TD>{{doc_item.qaContact}}</TD>
           <TD>{{doc_item.target_release}}</TD>
           {% if doc_item.age <= 3 %}
              <TD style ="background-color: #00FF7F">{{doc_item.age}}</TD>
           {% elif doc_item.age > 3 and doc_item.age <  5  %}
              <TD style ="background-color: #deea94">{{doc_item.age}}</TD>   
           {% else %}
              <TD style ="background-color: #ff7f8a">{{doc_item.age}}</TD>
           {% endif %}   
        </TR>
        {% endfor %}	
</table>	

</body>
</html>