-<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
    table.full-table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #050505;
        text-align: left;
        padding: 8px;
    }
    
    p { margin:0 }
    
    </style>
</head>
	
<body>

<h2>Last 24 hrs Reported bugs</h2>
<table class="full-table">
	<tr>
            <th style="color: blue">#Bug ID</th>
            <th style="color: blue">Summary</th>
            <th style="color: blue">Reporter</th>
            <th style="color: blue">Status</th>
            <th style="color: blue">Component</th>
		    <th style="color: blue">Severity</th>
		    <th style="color: blue">Is Blocker?</th>
		    <th style="color: blue">Version</th>
		    <th style="color: blue">Target Release</th>
        </tr>
	
	   {% for item in items %}
        <TR>
        
           <TD><a href="https://bugzilla.redhat.com/show_bug.cgi?id={{item.bug_id}}">{{item.bug_id}}</a></TD>
           <TD>{{item.summary}}</TD>
           <TD>{{item.reporter}}</TD>
           <TD>{{item.status}}</TD>
           <TD>{{item.component}}</TD>
           <TD>{{item.severity}}</TD>
           
           {% if item.is_Blocker == "+" %}
              <TD style ="background-color: #00FF7F">{{item.is_Blocker}}</TD>
           {% elif item.is_Blocker == "?"  %}
              <TD style ="background-color: #deea94">{{item.is_Blocker}}</TD>
           {% elif item.is_Blocker == "-"  %}
              <TD style ="background-color: #ff7f8a">{{item.is_Blocker}}</TD>      
           {% else %}
              <TD >{{item.is_Blocker}}</TD>
           {% endif %}    
        
        
           <TD>{{item.version}}</TD>
           <TD>{{item.target_release}}</TD>
                 
        </TR>
        {% endfor %}	
</table>	
